<section id="s3">
  <h2>Actividades de S3 (28 de noviembre)</h2>
  <ol>
    <li>
      <p>A un profesor le pagan según sus horas y una taria de pago por horas. si la cantidad de horas trabajdas es mayor a 40 horas, la tarifa se incrementa en un 50% para las horas extras. Calcular el salario del profesor dadas las horas trabajadas y la tarifa</p>
      <label>¿Cuántas horas trabajó?<input type="number" id="horasT"></label>
      <label>¿De cuánto es su pago por hora de trabajo?<input type="number" id="pagoPorHoraT"></label>
      <button class="btn btn-dark" id="btnPagoCompleto">click aqui para calcular pago </button>
      <p id="resultadoPagoCompleto"></p>

    </li>
    <li>
      <p>Calcular el perímetro de una circunferencia dado su radio. Luego calcule el perímetro si el radio se reduce en un 50% y luego una vez más si se reduce en un 25% con respecto al resultado anterior</p>
      <label for="radio">Indique el radio del círculo</label>
      <input type="number" id="radio">
      <button id="btnPerimetros">calcular perimetros</button>
      <p id="resultadoPerimetros"></p>
    </li>
    <li>
      Dadas las horas trabajadas de una persona y la tarifa de pago por hora, calcular su salario y escribirla y los valores porcentuales a su salari en 10%m 30%, 60% y 80%
    </li>
    <li>Un alumno desea saber cual serásu calidicación dinal en la materia de Algoritmos. El prmoedio de las 3 notas parciales equivale al 55% de su nota final, el examen final equivale al 30% y la nota de su trabajo final equivale a solo un 15%</li>
    <li>En un hospital existen tres áreas entre las que se reparte el presupuesto anual del hospital</li>
    <li>Actividad asincrona: Crear una aplicación web donde se ingrese un número entero y determine si es PRIMO o no.
      <label for="numeroTalvezPrimo"></label>
      <input type="number" id="numeroTalvezPrimo">
      <input type="button" value="¿Es primo?" id="btnEsPrimo">
      <p id="resultadoEsPrimo"></p>
    </li>

  </ol>

  <script>
    let btnPagoCompleto = document.querySelector('#btnPagoCompleto');
    let resultado1 = document.querySelector('#resultadoPagoCompleto');

    let btnPerimetros = document.getElementById('btnPerimetros');
    let resultadoPerimetros = document.getElementById('resultadoPerimetros');

    let btnEsPrimo = document.getElementById('btnEsPrimo');
    let resultadoEsPrimo = document.getElementById('resultadoEsPrimo');


    btnPagoCompleto.addEventListener('click', function () {
      let limiteHoras = 40;
      let horasTRegulares = 0;
      let pagoHorasRegulares = 0;
      let horasTExtras = 0;
      let pagoPorHoraExtra = 0;

      let horasT = parseInt(document.querySelector('#horasT').value);
      let pagoPorHoraT = parseFloat(document.querySelector('#pagoPorHoraT').value);
      pagoPorHoraExtra = pagoPorHoraT * 1.5;

      console.log({ horasT }, { pagoPorHoraT }, { pagoPorHoraExtra })


      if (horasT > limiteHoras) {
        console.log('trabajo mas alla del limite de horas')
        horasTExtras = horasT - limiteHoras;
        horasTRegulares = limiteHoras;
      } else {
        console.log('no excedio el limite de horas de trabajo')
        horasTRegulares = horasT;
      }
      pagoHorasRegulares = horasTRegulares * pagoPorHoraT;
      pagoHorasExtras = horasTExtras * pagoPorHoraExtra;

      resultado1.innerHTML = `Trabajó: ${horasTRegulares} horas regulares y ${horasTExtras} horas extras. Le corresponden: ${pagoHorasRegulares + pagoHorasExtras} soles de pago`;
    })




    btnPerimetros.addEventListener('click', () => {
      let radioIngresado = document.getElementById('radio').value;
      let perimetroSegunRadio = 0;
      let perimetroSegunRadioReducido = 0; //reduido en un 50%
      let perimetroSegunRadioMasReducido = 0; //reducido un 25% mas

      //https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Global_Objects/Math/PI
      function calculaCircunferencia(radio) {
        return (2 * Math.PI * radio).toFixed(3);  //hasta 3 decimales
      }
      console.log(radioIngresado);

      //si en input de tipo number se coloca una letra, un espacio vacio, o nada, resulta en <empty string>
      if (radioIngresado == '') {
        resultadoPerimetros.innerHTML = 'ingrese un número válido';
      } else {
        console.log({ radioIngresado });
        perimetroSegunRadio = calculaCircunferencia(radioIngresado);

        radioIngresado *= 0.5; //cambia su valor a 50%
        console.log({ radioIngresado });
        perimetroSegunRadioReducido = calculaCircunferencia(radioIngresado);

        radioIngresado *= 0.75; //cambia su nuevo valor a 75%
        console.log({ radioIngresado });
        perimetroSegunRadioMasReducido = calculaCircunferencia(radioIngresado);

        resultadoPerimetros.innerHTML = `La primera circunferencia mide ${perimetroSegunRadio}, la segunda circunferencia mide ${perimetroSegunRadioReducido} y la tercera circunferencia mide ${perimetroSegunRadioMasReducido}`
      }
    })


    btnEsPrimo.addEventListener('click', () => {
      let numeroTalvezPrimo = document.getElementById('numeroTalvezPrimo').value;

      if (numeroTalvezPrimo == '') {
        resultadoEsPrimo.innerHTML = `coloque un número`;
      } else {
        resultadoEsPrimo.innerHTML = esNumeroPrimo(numeroTalvezPrimo);
      }
    })

    function esNumeroPrimo(n) {
      for (var i = 2; i < n; i++) { // iteramos por los numeros posibles divisores
        if (n % i === 0) return false; // si el numero es divisible entre alguno entonces no es primo
      }
      return n > 1; // ni 1 ni numeros negativos cuentan como primos, el numero debe ser siempre mayor que 1, entonces retorna true 
    }



  </script>
</section>