<section id="s2" aria-labelledby="s2Title">
  <!-- me falta? -->
  <h3 id="s2Title">Actividades de S2 (25 de noviembre)</h3>
  <ol>
    <li>
      <p>Una tienda pone a la venta varios juguetes: monopolio, ajedrez, damas, lego y laberinto y te da un descuento acorde a la cantidad que vayas a comprar.</p>
      <button id="btnJuguetes">Click para escoger juguete y cantidad</button>
    </li>
    <li>
      <p>Desarrollar una aplicación web que permita generar los accesos mediante un usuario y contraseña
        almacenado en un array. Los accesos deben ser ingresados mediante un formulario.
        Ejemplo:
        let usuarios = [“jperez”, “amaria”];
        let contraseña = [“123456”, “certus123”];
        Por ejemplo, si ingresa el usuario jperez y su contraseña 123456, debería mostrarse un mensaje de alerta
        indicando “Datos ingresados correctamente”. Lo mismo si el usuario y contraseña serian amaria y
        certus123 respectivamente.
        No se no ingresa un usuario existente o la contraseña equivocada, se deberia mostrar un mensaje
        indicando el error.</p>
      <label for="usuarioIntento">Usuario</label>
      <input type="text" id="usuarioIntento" required>
      <label for="contraseñaIntento">Contraseña</label>
      <input type="password" id="contraseñaIntento" required>
      <input type="button" value="Enviar" id="btnEnviar">
    </li>
  </ol>

  <script>
    let btnJuguetes = document.getElementById('btnJuguetes');

    let preciosJuguetesDeMesa = {
      'monopolio': 70.99,
      'ajedrez': 78.99,
      'lego': 100.99,
      'damas': 58.50,
      'laberinto': 35.00
    } //An identifier in JavaScript contains Unicode letters, $, _, and digits 0..9, but cannot start with a digit https://dmitripavlutin.com/access-object-properties-javascript/

    btnJuguetes.addEventListener('click', () => {
      console.log({ preciosJuguetesDeMesa });

      let jugueteEscogido = prompt('¿Qué juguete quieres comprar?');
      console.log(Object.hasOwn(preciosJuguetesDeMesa, jugueteEscogido.toLowerCase()));

      //preguntar hasta que se encuentre en el objeto {}
      //https://stackoverflow.com/a/4587130 hasOwn
      while (Object.hasOwn(preciosJuguetesDeMesa, jugueteEscogido.toLowerCase()) == false) {
        jugueteEscogido = prompt(` '${jugueteEscogido}' no se encuentra entre nuestros juguetes, nosotros vendemos monopolio, ajedrez, lego, damas y laberinto. por favor, escoge de nuevo`);
      }
      console.log({ jugueteEscogido });
      let cantidadEscogida = +prompt(`bien, ¿cuántos quieres comprar?`);
      let precioSoloUnJuguete = 0;
      let precioInicial = 0;

      let porcentajeADescontar = 0;
      let precioFinal = 0;

      //obtenemos el precio por unidad del juguete escogido y multiplicamos por la cantidad
      for (let item in preciosJuguetesDeMesa) {
        if (item == jugueteEscogido.toLowerCase()) {
          precioSoloUnJuguete = preciosJuguetesDeMesa[jugueteEscogido.toLowerCase()]; //https://dmitripavlutin.com/access-object-properties-javascript/ if the dot property accessor doesn't work we can use the square brackets []
          precioInicial = precioSoloUnJuguete * cantidadEscogida;
        }
      }

      //dependiendo de la cantidad el descuento varia
      if (cantidadEscogida > 0 && cantidadEscogida < 10) {
        porcentajeADescontar = 0.035 * precioInicial;
      } else if (cantidadEscogida >= 10 && cantidadEscogida <= 20) {
        porcentajeADescontar = 0.07 * precioInicial;
      } else if (cantidadEscogida > 20) {
        porcentajeADescontar = 0.095 * precioInicial;
      }

      //el precio final es igual al primer cálculo - descuento obtenido, redondeado a 2 decimales
      precioFinal = (precioInicial - porcentajeADescontar).toFixed(2);
      console.log({ precioSoloUnJuguete }, { precioInicial }, { porcentajeADescontar }, { precioFinal });
    })






    let usuarios = ['jperez', 'amaria'];
    let contraseñas = ['123456', 'certus123'];

    let btnEnviar = document.getElementById('btnEnviar');
    btnEnviar.addEventListener('click', () => {
      let userIntento = document.getElementById('usuarioIntento').value;
      let contraseñaIntento = document.getElementById('contraseñaIntento').value;
      let mensaje = 'Datos incorrectos'; //valor de mensaje predeterminado

      if (userIntento == '' || contraseñaIntento == '') {
        mensaje = 'Datos incompletos';
        alert(mensaje);
      } else {
        //recorre los arrays usuarios y contraseñas hasta que encuentra una igualdad y compara en el otro array
        for (let i = 0; i < usuarios.length; i++) {
          if (usuarios[i] = usuarioIntento && contraseñas[i] === contraseñaIntento) {
            mensaje = 'Datos correctos';
            break; //importante para que deje de recorrer apenas encuentre
          }
        }
        alert(mensaje); //aqui para que aparezca una sola vez
      }
    })




  </script>
</section>