<section id="s13ys14" aria-labelledby="s13ys14Title">

  <h3 id="titleS13yS14">Tareas asíncronas usando AngularJS (20 de diciembre)</h3>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <!-- angularjs es como angular, pero usando javascript -->

  <!-- <div ng-app="">
    <p>Nombre: <input type="text" ng-model="nombre"> </p>
    <p ng-bind="nombre"></p>
    <p>hola {{nombre}}</p>
  </div> -->

  <!-- el $scope es el Modulo del modelovistacontrolador -->


  <!--   <div ng-app="oneApp" ng-controller="oneCtrl">
    <p>agregamos ng app y ng controller</p>
    <em>{{firstName + ' '+ lastName}}</em>
  </div>
  <script>
    let app = angular.module('oneApp', []); //ahora podemos agregar controlladores  [] [] [[[[]]]]

    app.controller('myCtrl', function ($scope) {
      $scope.firstName = 'oooo'
      $scope.lastName = ''
    })
  </script>

  <script>
    let aaa = { nombre: 'aaa', oo: 'ee' }
    let bbb = aaa;

    console.log(aaa, bbb)
  </script> -->

  <ol>
    <li>
      <p>s13</p>
      <p>La empresa “MULTIPLAN” dedicada al alquiler de vehículos, emite una factura de acuerdo al servicio prestado a sus clientes por la distancia recorrida en el auto alquilado. </p>
      <ul>


        <li>Si la distancia recorrida no es mayor a los 300 km., se cobra una tarifa fija de S/.250, </li>

        <li>si la distancia recorrida es mayor a 300 km. y hasta 1000 km. se cobra la tarifa fija más el exceso de kilómetros a razón de S/. 30 por km. </li>

        <li>y si la distancia recorrida es mayor a 1000 km., la compañía cobra la tarifa fija más los kilómetros recorridos entre 300 hasta 1000 a razón de S/. 30, más S/.20 por Kilómetro de exceso en distancias mayores de 1000 km.</li>

      </ul>
      <p> Además, por promoción otorga un descuento del 10% del importe a pagar, por importes mayores a 500 soles.
      </p>

      <div ng-app="oneApp" ng-controller="oneCtrl">
        <form>
          <label>Nombre, DNI o RUC<input type="text" ng-model="user.id"> </label>
          <label>{{label}} <input type="text" ng-model="user.distancia"></label>
          <button ng-click="getBill(user)">Obtener factura</button>
        </form>
        <em ng-model="response">El precio cobrado a {{user.id}} por los {{user.distancia}} km recorridos es igual a {{tarifaPorCobrar}} soles (ver consola)</em>

      </div>

      <script>
        let oneApp = angular.module('oneApp', []);
        oneApp.controller('oneCtrl', function ($scope) {

          $scope.label = 'Ingresar distancia recorrida:';
          $scope.distancia = '';
          $scope.userData = '';
          $scope.getBill = function (user) {
            $scope.userData = angular.copy(user);

            console.log('distancia en input:', $scope.userData.distancia, user.distancia);

            // $scope.distanciaRecorrida = user.distancia;

            $scope.tarifaFija = 250;

            $scope.tarifaAPartirDeA = $scope.tarifaFija + (user.distancia - 300) * 30;

            $scope.tarifaAPartirDeB = $scope.tarifaFija + $scope.tarifaAPartirDeA + (user.distancia - 1000) * 20;

            let tarifaPorCobrar = 0;

            $scope.descuento = tarifaPorCobrar * 0.1;

            $scope.tarifaPorCobrar = '';



            //FUNCION
            if (user.distancia <= 300) {
              console.log('distancia menor o igual a 300km');
              tarifaPorCobrar = $scope.tarifaFija;
            } else if (user.distancia <= 1000) {
              console.log('distancia entre 300 a 1000km');
              console.log($scope.tarifaFija, $scope.tarifaAPartirDeA)

              tarifaPorCobrar = $scope.tarifaAPartirDeA
            } else if (user.distancia > 1000) {
              console.log('distancia mayor a 1000 km');
              tarifaPorCobrar = $scope.tarifaAPartirDeB
            }


            if (tarifaPorCobrar > 500) {
              tarifaPorCobrar - user.descuento;
            }
            else {
              user.descuento = 0;
            }

            console.log(`Por la distancia: (${user.distancia} kms) la tarifa a cobrar es igual a: ${tarifaPorCobrar}, tomando en cuenta un descuento de ${user.descuento} soles`);

            $scope.tarifaPorCobrar = tarifaPorCobrar;

            return tarifaPorCobrar;
          }
        })
      </script>
    </li>

    <li>
      <p>s14</p>
      <p>Se lee por teclado el código del empleado, número de horas trabajadas, tarifa por hora. Calcular el salario básico, considerando la siguiente tabla de descuento.</p>
      <pre>
        Sueldo bruto	Descuento (%)
        Menor 500	0
        Entre 501 y 1000	2%
        Entre 1001 y 4000	8%
        Entre 4001 y 8000	15%
        Entre 8001 y 10000	21%
        Mayor 10000	30%
      </pre>
      <p>
        Crear una aplicación web que permita calcular el básico, descuento y salario neto
      </p>

      <div ng-app="secondApp" ng-controller="secondCtrl">
        <form>
          <label>¿cuál es su código? (opcional)<input type="text" ng-model="persona.code"></label>
          <label>¿cuántas horas trabajó?<input type="number" ng-model="persona.workedHours" required></label>
          <label>¿de cuánto es su pago por hora?<input type="number" ng-model="persona.payPerHour" required></label>

          <button ng-click="getPay(persona)" type="button">Obtener sueldo bruto, descuento y salario final en consola</button> <!-- type=button para sobreescribir el default type=submit (que envia el from en Enter) -->
        </form>
      </div>

      <script>
        let secondApp = angular.module('secondApp', []);
        secondApp.controller('secondCtrl', function ($scope2) {

          $scope2.personaData = '';
          $scope2.code = '';
          $scope2.workedHours = 0;
          $scope2.payPerHour = 0;

          $scope2.getPay = function (persona) {
            console.log($scope2.workedHours, $scope2.payPerHour);

            persona.workedHours = $scope2.workedHours;
            console.log(persona.workedHours)

            $scope2.personaData = angular.copy(persona);

            alert('ABCDEF', persona, $scope2.persona);

          }

          let sueldoBruto20 = workedHours
        })

        /* EL FORM SE ENVIABA AUNQUE AÑADI EL TYPE=BUTTON 
        ,ASI QUE USE JS */


        const btnGetPay = document.querySelector('button[ng-click="getPay(persona)"')
        const pCodeInput = document.querySelector('[ng-model="persona.code"]');
        const pWorkedHoursInput = document.querySelector('[ng-model="persona.workedHours"]');
        const pPayPerHourInput = document.querySelector('[ng-model="persona.payPerHour"]');

        let pSueldoBruto;
        let pDescuento;
        let pSueldoFinal;

        btnGetPay.addEventListener('click', (e) => {
          // e.preventDefault();

          pCode = pCodeInput.value ? pCodeInput.value : '00000'
          pWorkedHours = pWorkedHoursInput.value;
          pPayPerHour = pPayPerHourInput.value;

          pSueldoBruto = pWorkedHours * pPayPerHour;

          if (pSueldoBruto < 500) {
            console.log('descuento aplicado: 0%');
            pDescuento = 0;

          } else if (pSueldoBruto < 1000) {
            console.log('descuento aplicado: 2%');
            pDescuento = pSueldoBruto * 0.02;

          } else if (pSueldoBruto < 4000) {
            console.log('descuento aplicado: 8%');
            pDescuento = pSueldoBruto * 0.08;

          } else if (pSueldoBruto < 8000) {
            console.log('descuento aplicado: 15%');
            pDescuento = pSueldoBruto * 0.15;

          } else if (pSueldoBruto < 10000) {
            console.log('descuento aplicado: 21%');
            pDescuento = pSueldoBruto * 0.21;

          } else {
            console.log('descuento aplicado: 30%');
            pDescuento = pSueldoBruto * 0.30;
          }

          pDescuento = pDescuento.toFixed(2);

          pSueldoFinal = pSueldoBruto - pDescuento;

          console.log({ pSueldoBruto }, { pDescuento }, { pSueldoFinal })

          console.log(`La persona trabajadora de código '${pCode}', por sus ${pWorkedHours} horas trabajadas a un pago de ${pPayPerHour} soles por hora, obtendría un sueldo inicial o bruto de ${pSueldoBruto} soles, al cual se le aplica un descuento de ${pDescuento} soles, obteniendo un sueldo final de ${pSueldoFinal} soles`)
        }) 
      </script>
    </li>
  </ol>
</section>