<section id="s6" aria-labelledby="s6Title">
  <h3 id="s6Title">Actividades de S6 (01 de diciembre)</h3>
  <ol>
    <li>
      <p>Diseñe un formulario con HTML5, Javascript, y las validaciones solicitadas (usuario de 4 a 16 chars, solo con numeros, letras y guión bajo. nombre, contraseña y repetir contraseña, validacion de igualdad entre campos contraseña)</p>
      <!-- https://web.dev/hiding-and-updating-content/  se lee cada elemento y texto añadido o cambiado the default value for aria-relevant is additions text, meaning that if you don't specify aria-relevant it will update the user for any addition to the element -->
      <!-- https://javascript.plainenglish.io/make-dynamic-web-content-accessible-with-a-one-line-code-change-7070e830d155  output es por defecto un aria-live region y cada cambio es leido, y es recomendabe agregarle un aria-label para mayor contexto. por ejm: precio que se aumenta de acuerdo a cantidad seleccionada    <output id="pricebyQuantity" aria-label="Precio calculado"></output> -->

      <form aria-relevant="additions text">
        <label for="tareaUsuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="tareaUsuario" aria-describedby="tareaUsuarioDesc" minlength="4" maxlength="16" required>
        <span id="tareaUsuarioDesc" class="form-text">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener letras, números y guiones bajos</span>

        <label for="tareaNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="tareaNombre" aria-describedby="tareaNombreDesc" required>
        <span id="tareaNombreDesc" class="form-text">Solo su(s) nombre(s), no apellidos</span>

        <label for="tareaPass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="tareaPass" aria-describedby="tareaPassDesc" required>
        <span id="tareaPassDesc" class="form-text">Elija una contraseña segura</span>

        <label for="tareaPass2" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="tareaPass2" aria-describedby="tareaPass2Desc" required> <!-- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-required When form controls are created using non-semantic elements, such as a <div> with a role of checkbox, the aria-required attribute should be included, with a value of true. En el caso de usar html semantico basta con usar required -->
        <span id="tareaPass2Desc" class="form-text">Ambas contraseñas deben ser iguales</span>
        <button id="tareaEnviar">Enviar</button>

        <script>

          const tareaUsuario = document.getElementById('tareaUsuario');
          const tareaNombre = document.getElementById('tareaNombre');
          const tareaPass = document.getElementById('tareaPass');
          const tareaPass2 = document.getElementById('tareaPass2');
          let tareaEnviar = document.getElementById('tareaEnviar');

          let noConsoleLog = document.createElement('span');


          let specialChars = /[`!@#$%^&*()+\-=\[\]{};':"\\|,.<>\/?~]/
          let tareaUsuarioRegExp = /[A-Za-z0-9_]/
          let tareaNombreRegExp = /^[A-Z]+([\s]?[A-Za-z])*$/; //iniciar en letra mayuscula, seguidamente un espacio(opcional) y más letras mayúsculas o minusculas


          function validarYMostrarMensaje(regularExpression, htmlEl, alertSiIncorrecto) {
            htmlEl.parentElement.appendChild(noConsoleLog); //como appendSibling no existe

            if (value = '' || !regularExpression.test(htmlEl.value)) {
              htmlEl.className = 'form-control not-valid';
              noConsoleLog.textContent = 'algo incorrecto';
              alert(alertSiIncorrecto);
            } else {
              htmlEl.className = 'form-control valid';
              noConsoleLog.textContent = 'todo correcto';
              console.log(`${htmlEl.value} está correcto`);
            }
            //console.log(htmlEl, noConsoleLog)
          }

          //al clickear el btn
          tareaEnviar.addEventListener('click', (e) => {
            e.preventDefault();

            //let tareaUsuarioValue = tareaUsuario.value; //los .value se hacen ya en la funcion
            let usuarioEsAceptable = tareaUsuario.value.lenght >= 4 && tareaUsuarioValue.lenght <= 16; //true/false no es necesario si se usan los attributos minlenght y max lenght
            //console.log(usuarioEsAceptable)

            //if (tareaUsuarioValue = '' || usuarioEsAceptable == false) {

            if (specialChars.test(tareaUsuario.value)) {
              alert('Usuario tiene caracteres especiales no aceptados')
            } else {
              validarYMostrarMensaje(tareaUsuarioRegExp, tareaUsuario, 'Usuario cumple las condiciones', 'Usuario no cumple las condiciones')
            }

            validarYMostrarMensaje(tareaNombreRegExp, tareaNombre, 'Nombre no cumple las condiciones')

            if (tareaPass.value !== '' && tareaPass.value == tareaPass2.value
            ) {
              console.log('Contraseñas son iguales :)')
            } else {
              noConsoleLog.textContent = 'Contraseñas son diferentes o una está vacía'
            }

          })
        </script>
      </form>


    </li>
    <li>Formulario desarrollado en clase, versión mejorada
      <form>
        <label>Ingrese DNI<input type="text" id="input-dni"></label>

        <label>Ingrese nombre<input type="text" id="input-nombre"></label>

        <label>Ingrese teléfono<input type="text" id="input-tel"></label>
        <input type="button" id="btnDNT" value="Click y ver consola">
      </form>
    </li>
  </ol>



  <script>
    let dni = document.querySelector("#input-dni");
    let nombre = document.querySelector("#input-nombre");
    let tel = document.querySelector("#input-tel");
    let btnDNT = document.querySelector('#btnDNT')

    //si esta vacio o no pasa el test -> invalido
    function validarCon(regularExpression, value, htmlEl, label) {
      let noConsoleLog = document.createElement('span');

      if (value = '' || !regularExpression.test(value)) {
        console.log(`${label} inválido`)
        htmlEl.classList.add('not-valid');
        //console.log({ value })>true/false
        noConsoleLog = `${label} inválido`

      } else {
        console.log(`${label} válido`)
        htmlEl.classList.add('valid');
        noConsoleLog = `${label} válido`;

      }
      htmlEl.insertAdjacentText('beforebegin', noConsoleLog);
      console.log(htmlEl, noConsoleLog)
    }


    btnDNT.addEventListener('click', () => {
      dni.className = 'form-control'; //reinicimamos a una clase para segundos, terceros, ... intentos

      let vdni = dni.value;
      //console.log(vdni); //pasa de un valor numérico (ejm: 12345679) a un boolean cuando se usa un regExp.test(value)
      let vnombre = nombre.value;
      let vtel = tel.value;

      let regExpDni = new RegExp("^[0-9]{8}$");
      let regExpNombre = /^[A-Z]+([\s]?[A-Za-z])*$/; //con test, devuelve verdadero si cumple
      let regExpTel = /^\([0-9]{2}\)[0-9]{3}-[0-9]{3}-[0-9]{3}$/;

      validarCon(regExpDni, vdni, dni, 'DNI');
      validarCon(regExpNombre, vnombre, nombre, 'Nombre');
      validarCon(regExpTel, vtel, tel, 'Teléfono')


      // let regExp = new RegExp("[0-9]"); //debe contener un numero
      // let regExpDebeIniciar = new RegExp("^[0-9]"); //debe iniciar  en numero
      //let regExpDebeTerminar = new RegExp("[0-9]$");
      ///debe acabar en numero

      // ^[A-Za-z] empieze con mayusc o minusc
      //[AZa-z]$ acabar con mayusc o minusc
      //+([\s]?[A-Za-z])*$ luego puede o puede no haber un espacio en blanco, junto letras (si hay espacio en blannco si o s debe seguirle unas letras)

    })




  </script>
</section>