<!-- 22.12.19 -->

<button id="btnCreate">crear usuario</button>
<button id="btnUpdate">modificar registro</button>
<!-- ingrese id -->
<button id="btnDelete">borrar registro</button>
<!-- prompt para onfirmar si esta seguro -->
<div class="tabla">
  <div class="fila">
    <span>id</span>
    <span>Nombre</span>
    <span>Apellido</span>
    <span>Edad</span>
    <span>Profesión</span>
    <span>Creación</span>
    <span>Modificación</span>
  </div>
</div>


<style>
  .fila {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fila>* {
    border: 1px solid peru;
  }
</style>

<script>

  let usuariosDeEjemplo = [
    { id: 1, nombre: "Andres", apellido: "Pacheco", edad: 38, profesion: "developer", created_at: "2022-09-26T06:25:21.118Z" },
  ]

  // let valoresEnString = JSON.stringify(Object.values(usuariosDeEjemplo[0]))

  // valoresEnString = usuariosDeEjemplo[0].toString()

  valoresEnString = String.valueOf(usuariosDeEjemplo[0])
  let msg = prompt("EDITANDO", valoresEnString);

  const btnCreate = document.querySelector('#btnCreate');
  const btnUpdate = document.querySelector('#btnUpdate');
  const btnDelete = document.querySelector('#btnDelete');
  const tabla = document.querySelector('.tabla');

  let usuariosABC = [];
  let usuarioKeys = ['id', 'nombre', 'apellido', 'edad', 'profesion', 'created_at', 'modified_at']
  let idCounter = 1;

  function nuevaFuncion() {

  }

  let todaLaFila;
  let todasLasCeldas;
  btnCreate.addEventListener('click', () => {
    let div = document.createElement('div');
    div.classList.add('fila');
    div.id = idCounter++;  //id pasa a ser 2

    console.log(idCounter)

    for (i = 0; i < usuarioKeys.length; i++) {
      let span = document.createElement('span')
      span.contentEditable = 'true';

      div.append(span);
    }

    let btnConfirm = document.createElement('button');
    btnConfirm.setAttribute('id', 'btnConfirm');
    btnConfirm.textContent = 'CONFIRMAR';
    btnConfirm.addEventListener('click', (e) => {

      todaLaFila = e.currentTarget.parentElement;
      todasLasCeldas = todaLaFila.children; //las celdas de esa fila

      // let celdasArray = Array.from(.....);
      // console.log(todasLasCeldas, celdasArray)
      // todasLasCeldas. setAttribute('contenteditable','false');

      crear();
      function crear() {
        const usuario = {};

        console.log(idCounter)

        // todasLasCeldas[0].textContent= idCounter;
        console.log(todasLasCeldas[0])
        usuario['id'] = todasLasCeldas[0].textContent;
        usuario['nombre'] = todasLasCeldas[1].textContent;
        usuario['apellido'] = todasLasCeldas[2].textContent;
        usuario['']


        console.log(usuario)
      }



    })

    let btnCancel = document.createElement('button')
    btnCancel.setAttribute('id', 'btnCancel');
    btnCancel.textContent = 'CANCELAR';
    btnCancel.addEventListener('click', (e) => {
      console.log(e.currentTarget.parentElement);
      e.currentTarget.parentElement.remove();
    })

    div.append(btnConfirm, btnCancel); //div tiene los spanes y botones
    tabla.append(div);

    nuevaFuncion();

  })


  btnDelete.addEventListener('click', (e) => {
    let selectedId = +prompt('id de user a modiificar')
  })


//14. TRABAJO GRUPAL
// Elaborar un programa que permita al admin a traves de prompts y alerts lo siguiente:

// CREATE
// El admin debe poder crear un nuevo registro de usuario utilizando la funcion 10. (Pueden utilizar un boton que diga "Crear Usuario")
// READ
// El admin debe poder visualizar en pantalla los registros que estan siendo creados.
// UPDATE
// El admin, al presionar un boton: "Modificar registro" en la parte inferior de la lista de registros, debe
// ver un prompt que le pida que ingrese el id del registro que desea modificar, en caso no ingrese ninguno,
// debe volver a la pagina inicial. Si elige modificar alguno, debe aparecer nuevamente el prompt del ejercicio 10
// OJO: Cuando el admin modifique el registro, no se debe modificar la fecha de creacion, en su lugar debe aparecer
// un nuevo campo de fecha de modificacion.
// DELETE
// El admin, al presionar un boton: "Borrar registro" en la parte inferior de la lista de registros, debe ver
// un prompt que le pida ingresar el id del registro que desea borrar. Al dar click, debe aparecer un prompt
// que le pregunte: "Esta usted seguro? Si/No" y al escribir Si, deberia borrarlo. En cualquier otro caso
// deberia volver a la pagina inicial sin que se haya borrado ningun registro.

// ADICIONAL1: Añadir a la tabla la funcionalidad de ordenar los registros al hacer click en los encabezados
// (como en el caso de Pokemon). Sin embargo, al momento de hacer click nuevamente en el encabezado, los datos
// deben ordenarse de manera inversa. Ejemplo: Si al hacer click se ordenan de menor a mayor, al volver a hacer
// click deben ordenarse de mayor a menor.

// OPCIONAL: Crear un selector que permita filtrar los datos por fecha.




</script>